<div class="grid-container">
  <div class="hero-element">
    <app-hero></app-hero>
  </div>
  <div class="slider-container">
    <app-card-slider></app-card-slider>
  </div>
  <div class="achievement-container">
    <section>
      <p>25,000+</p>
      <p>Verified Cars</p>
    </section>
    <section>
      <p>20,000+</p>
      <p>Trusted Hosts</p>
    </section>
    <section>
      <p>2 Billion+</p>
      <p>Kilometers</p>
    </section>
    <section>
      <p>38+ Cities</p>
      <p>And counting...</p>
    </section>
  </div>
  <div class="ad-container">
    <div class="ad-sub-1">
      <img src="../../../assets/zoomcar-ad1.jpeg" alt="">
      <img src="../../../assets/zoomcar-ad2.jpeg" alt="">
    </div>
    <div class="ad-sub-2">
      <img src="../../../assets/zoomcar-ad3.jpeg" alt="">
      <img src="../../../assets/zoomcar-ad3.jpeg" alt="">
    </div>
  </div>
</div>