<div class="add-car-container">
    <mat-card class="add-car-card">
        <mat-card-header>
            <mat-card-title class="card-title">Add Car</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="addCarForm" (ngSubmit)="onSubmit()">
                <mat-form-field>
                    <mat-label>Model</mat-label>
                    <input matInput formControlName="model">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Brand</mat-label>
                    <input matInput formControlName="brand">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Price</mat-label>
                    <input matInput formControlName="price">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="location">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Rating</mat-label>
                    <input matInput formControlName="rating">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Capacity</mat-label>
                    <input matInput formControlName="capacity">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Availability</mat-label>
                    <input matInput formControlName="availability">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Type</mat-label>
                    <input matInput formControlName="type">
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit">Add Car</button>
            </form>
        </mat-card-content>
    </mat-card>
</div>
