/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Josefin+Sans:wght@700&family=Lexend+Deca&family=Libre+Franklin&family=Roboto:wght@700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&family=Josefin+Sans:wght@700&family=Lexend+Deca:wght@400;800&family=Libre+Franklin&family=Noto+Sans+Display:wght@800&family=Roboto:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
